@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/roboto/Roboto-Black.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('fonts/roboto/Roboto-BlackItalic.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('ttf');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #161518;
}

/* utilities  */
.full-bg-image {
    background-size: cover;
    background-repeat: no-repeat;
}
.text-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.full {
    width: 100vw;
    height: 100vh;
}
.container {
    max-width: 1450px;
    margin: 0 auto;
}
.white {
    color: white;
}
.grey {
    color: #666;
}
.row {
    display: flex;
    flex-direction: row;
}
.justify-between {
    justify-content: space-between;
}
.mt-1 {
    margin-top: 1rem;
}
.ml-5 {
    margin-left: 50px;
}

.row-sm {
    display: flex;
    flex-direction: row;
}

/* text */
h1 {
    font-family:'Roboto';
    font-size: 52px;
}
h6 {
  font-family: 'Roboto';
  font-size: 12px;
  margin: 5px 0px;
}
h4 {
    font-family: 'Roboto';
}
p {
    font-family: 'Roboto';
    font-size: 18px;
}
a {
    transition: all 300ms ease;
}
a:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}


section {
    width: 100%;
}

/* hero */
#hero-1 {
    background-image: url('/static/images/Background.png');
    display: flex;
    flex-direction: column;
}
#hero-1 .main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    flex-grow: 1;
}
.main .content-container {
    margin: 0 50px;
    align-self: center;
}
.main h1 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}
.hamburger {
    margin-right:50px;
    padding: 1rem;
}
.hamburger:hover {
    cursor: pointer;
}
.logo {
    margin-left: 50px;
}

.main-nav .menu a {
    margin: 0.5rem 1rem;
}
.main-nav .menu {
    margin-right: 50px;
}

a {
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    height: 0px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}



.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#drawer {
    position: absolute;
    background-color: rgba(0,0,0,1);
    color: white;
    width: 100%;
    margin: 0 auto;
    top: 70px;
    opacity: 0;
    transition: all 300ms ease-out;
}
.mobile-nav {
    display: none;
    margin-left: 50px;
}
.mobile-nav .row {
    align-items: center;
}

#drawer .menu {
    overflow-y: hidden;
    /* height: 0px; */
    transition: all 300ms ease-out;
    /* background-color: darkgray;? */
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
    padding-left: 50px;
    padding-right: 50px;
}

#drawer .menu a {
    color:rgba(255,255,255, 1);
}


#drawer.active {
    opacity: 1;
}


.full {
    height: 100vh;
    width: 100vw;
}




form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    min-width: 350px;
    margin: 0 50px;
}

form input {
    border: 1px solid rgba(255,255,255, 0.1);
    padding: 1rem;
    background-color: rgba(255,255,255,0.1);
}

form input::placeholder {
    color: white;
}

.btn {
    color: white;
    background-color: #2c99ed;
    text-align: center;
    font-weight: 600;
}
.btn:hover {
    cursor: pointer;
}

form input:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

form input:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* footer */
footer {
    align-self: flex-end;
    width: 100%;
}
footer .container {
    align-items: center;
}
footer a {
    padding: 1rem;
}
footer .menu {
    margin-right: 50px;
}

@media screen and (max-width: 1024px) {
    #hero-1 .main h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 940px) {
    #hero-1 .main h1 {
        font-size: 32px;
    }
    #hero-1 .main:first-child {
        margin-right: 0px!important;
    }
}

@media screen and (max-width: 767px) {
    #hero-1 .main {
        flex-direction: column;
        margin: 0 50px;
    }
    .main-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .mobile-nav>div {
        margin: 0 50px;
    }
    .desktop {
        display: none;
    }
    
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 54px;
    }
}

@media screen and (min-width: 767px) {
    #drawer {
        display: none;
    }
}



